* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    padding: 20px;
}
body {
    padding: 40px;
    height: 100vh;
    background-color: antiquewhite; 
}

header {
    text-align: center;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

}

main {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

main a {
    margin: 10px;
    text-decoration: none;
}

button {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 7px;
}

svg {
    height: 40px;
}

p {
    margin: 0 auto;
    font-size: large;
}